<div id="trips-table" style="display: flex; flex-wrap:wrap; width: 100%;">
    <span>от {{startPoint}}</span>
    <span>до {{endPoint}}</span>
    <span>дата: {{startDate}}</span>
    <span>час: {{hours}}:{{minutes}}</span>
    <span><a href="/trip/trip-details/{{objectId}}">Details</a></span>
</div>